{% extends "::base.html.twig" %}

{% block title %}BGRSerranoProductoBundle:Producto:getByCategoria{% endblock %}

{% block body %}
<h1>Welcome to the Producto:getByCategoria page</h1>
{% endblock %}
