{% extends "::base.html.twig" %}

{% block title %}BGRSerranoProductoBundle:Paquete:getCantidadDisponibleByPresentacionId{% endblock %}

{% block body %}
<h1>Welcome to the Paquete:getCantidadDisponibleByPresentacionId page</h1>
{% endblock %}
