{% extends "::base.html.twig" %}

{% block title %}BGRSerranoProductoBundle:Fraccionable:getFraccionableById{% endblock %}

{% block body %}
<h1>Welcome to the Fraccionable:getFraccionableById page</h1>
{% endblock %}
